@font-face {
  font-family: NationalParkOutline;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NationalPark-Outline.otf"); }

@font-face {
  font-family: NationalParkRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NationalPark-Regular.otf"); }

@font-face {
  font-family: NationalParkHeavy;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NationalPark-Heavy.otf"); }

.alert_header {
  font-family: 'NationalParkRegular', cursive;
  font-size: 30px; }

.natpark {
  padding: 10px; }

.card-columns {
  padding-bottom: 50px; }

.navbar {
  font-family: NationalParkRegular, sans-serif;
  background-color: #96552B; }
  .navbar h2 {
    font-size: 2.5vw; }

.card-title {
  font-family: 'NationalParkHeavy', cursive;
  font-size: 25px; }
  .card-title a {
    text-decoration: none;
    color: #2E4B1D; }

.logo {
  height: 30px; }

/*.parkphoto {
  width: 100px;
  height: 100px; }*/
path:hover, circle:hover {
  transition: 0.7s;
  fill: #2E4B1D;
  stroke-width: 2px;
  stroke-linejoin: round;
  cursor: pointer; }

.pick_a_state {
  font-family: NationalParkRegular, sans-serif;
  text-align: center; }

.alerts_section {
  background-color: white;
  height: 100vh; }

.alerts {
  text-align: center; }

svg {
  display: block;
  margin: auto; }

.us_gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.state {
  width: 100%;
  height: auto; }

.mobile_state_picker {
  font-family: NationalParkRegular, sans-serif;
  font-size: 8vw; }

@media screen and (max-width: 600px) {
  #pick_a_state_function {
    display: none; } }

@media screen and (min-width: 601px) {
  .mobile_state_picker {
    display: none; } }
